.env
.env.backup
.phpunit.result.cache
/node_modules
/public/hot
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
documentacion.txt
npm-debug.log
supervisor.config
yarn-error.log
/storage/app/public/images/productos
/storage/app/public/images/productos_ventas_online
supervisor.conf
endpoinds.txt
documentation.txt
payuresponse.txt
payuresponse.json
*.bat
.vscode
public/storage/images/productos_ventas_online/
